<h1>You will in love with: <%= thingVar  %></h1>

<%  if(thingVar.toLowerCase() === "rusty"){  %>
        <p>GOOD CHOICE! RUSTY IS THE BEST!</p>
<%  }else {%>
        <p>Bad choice! You should have said Rusty!.</p>
<%  } %>